form {
	margin-bottom: 18px;
}
label {
	display: inline-block;
	margin: 2px 0;
}
select, input {
	max-width: 180px;
}
input[type=number] {
	width: 3em;
	text-align: right;
}
.keep-together {
	display: inline-block;
}
.input-table {
	display: table;
}
.input-table > * {
	display: table-row;
}
.input-table > * > * {
	display: table-cell;
	margin: 0 2px;
}
.fieldset-footer {
	margin: 4px 4px 0;
	text-align: right;
}
#fieldset_where .input-table > * > :first-child {
	padding-right: 3px;
}
#autocomplete-suggestions {
	margin: 0;
	padding: 0;
	border: 1px solid;
	overflow-y: scroll;
}
#autocomplete-suggestions ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#autocomplete-suggestions > ul > li {
	margin: 0;
	padding: 0;
	cursor: default;
}
#autocomplete-suggestions li {
	padding: 5px 10px 5px 20px;
	cursor: pointer;
}
.autocomplete-suggestions-heading {
	background: #ccc;
	padding: 5px;
}
.autocomplete-suggestions-match {
	font-weight: bold;
}
.autocomplete-suggestions-selection {
	background: #06f;
	color: #fff;
}
